<!-- 
- Este código define la estructura básica de una página web para el e-commerce. 
- Incluye un encabezado con el nombre y el enlace principal de la tienda, una subcabecera que muestra el estado del carrito de compras 
  (incluyendo el número de artículos y el precio total, o un mensaje si está vacío), y un espacio dinámico para contenido específico.
- También carga un archivo CSS para los estilos base, asegurando una presentación consistente.
-->

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">My shop</a>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Your cart:
            <a href="{% url 'cart:cart_detail' %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% elif not order %}
            Your cart is empty.
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>